{% extends "materiais/materiais_base.html" %}

{% block content %}
<div class="row">
    {%if material%}
    <div class="alert alert-success">
        Material {{material}} adicionado com sucesso.
    </div>
    {%endif%}
    <h3>Cadastrar material</h3>
    <form action="." method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-default">Enviar</button>
    </form>
</div>
{% endblock content %}