{% extends "materiais/materiais_base.html" %}

{%block content %}
    <h2>Lista de materiais</h2>
    {% if not materiais %}
        <p>Sem materiais para exibir.</p>
    {%else%}
        <ul>
        {% for m in materiais %}
            <li><a href="{% url "materiais:detalhe" m.id %}">{{m.descricao}}</a></li>
        {%endfor%}
        </ul>
    {%endif%}
{%endblock%}