{% extends "base.html" %}

{%block main_content %}
<h1>Materiais</h1>
<div class="row">
    <div class="col-lg-2">
        <ul class="nav nav-stacked">
            <li><a href="{% url "materiais:index" %}">Lista</a></li>
            <li><a href="{% url "materiais:adicionar_plain" %}">Adicionar</a></li>
            <li><a href="{% url "materiais:adicionar_class" %}">Adicionar class</a></li>
            <li><a href="{% url "materiais:adicionar_model" %}">Adicionar model</a></li>
        </ul>
    </div>
    <div class="col-lg-10">{%block content%}{%endblock%}</div>
</div>
{%endblock%}